*{
    padding: 0;
    margin: 0;
}
#game{
    width: 600px;
    height: 600px;
    border: 1px solid black;
    margin: auto;
}
#character{
    width: 10px;
    height: 10px;
    background-color: black;
    position: absolute;
    top: 100px;
    border-radius: 50%;
}
.quote-display {
  margin-bottom: 1rem;
  margin-left: calc(1rem + 2px);
  margin-right: calc(1rem + 2px);
}

#inputDiv{
  margin: auto;
}

.quote-input {
  width: 600px;
  height: 2.5rem;
  font-size: 2.5rem;
  resize: none;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  
.correct {
  color: green;
}
  
.incorrect {
  color: red;
  text-decoration: underline;
}